body {
    font-family: 'Segoe UI';
    font-size: 14px;
    background-color: #F7F7FC;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}