// It's highly recommended to change the default colors
// to match your app's branding.

$primary : #027BE3;
$secondary : #26A69A;
$accent : #9C27B0;

$dark : #1D1D1D;

$positive : #21BA45;
$error : #ED6A61;
$info : #31CCEC;
$warning : #EDB63F;


$emphasize: #202223;
$distinct: #6E7191;
$neutral :#4E4B66;
$action: #008CFF;

$light: #A0A3BD;

$white: #FFF;
$black: #000;

$affirmation: #69BC35;

$emphasize: #202223;
$distinct: #6E7191;
$neutral :#4E4B66;
$action: #008CFF;

.text-emphasize {
    color: $emphasize !important;
}

.text-distinct {
    color: $distinct !important;
}

.text-neutral {
    color: $neutral !important;
}

.text-action {
    color: $action !important;
}

.text-light {
    color: $light !important;
}


@import '~quasar-variables-styl'